* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.containering {
  width: 100%;
  min-height: 100vh;
  background: rgb(0, 78, 131);
  background: linear-gradient(
    90deg,
    rgba(0, 78, 131, 1) 0%,
    rgba(0, 108, 255, 1) 54%,
    rgba(0, 198, 255, 1) 92%
  );
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: white;
  margin: 10px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: -1px -1px 54px -3px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: -1px -1px 54px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -1px -1px 54px -3px rgba(0, 0, 0, 0.66);
}
.todo-app h2 {
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2::after {
  position: absolute;
  content: "";
  background-color: orangered;
  height: 5px;
  width: 70px;
  left: 3px;
  top: 40px;
  border-radius: 20px;
}
.newrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(196, 196, 196);
  border-radius: 30px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  color: rgb(53, 53, 53);
  outline: none;
  padding-left: 20px;
}
::placeholder {
  color: rgb(122, 122, 122);
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  color: white;
  background-color: orangered;
  border-radius: 30px;
  cursor: pointer;
}
ul li {
  position: relative;
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
}

ul li::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 9px;
  left: 8px;
}
ul li.checked {
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #555;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
}
ul li span:hover {
  background-color: rgb(196, 196, 196);
  border-radius: 50%;
}
